/*
table {
  color: black;
  text-align: center;
}
img {
  height: 25px;
  width: 25px;
}
select {
  height: 35px;
  width: 100px;
}
.gamedaytable {
  text-align: center;
}
.table-scroll {
  width: 100%;
  padding: 0px;
  margin-bottom: 0px;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .showImages {
    display: none;
  }
}
td {
  padding: 5px;
}
*/
img {
  height: 25px;
  width: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.grid-item {
    margin: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}
.teams {
  margin-left: 10px;
  display: flex; 
  align-items: center;
}

@media (max-width: 600px) {
  .grid-container{
    grid-template-columns: repeat(1, 1fr);
  }
}